
#t1{
	padding-top : 10px;
}

#Europe li{
	text-align : left;
}
#Africa li{
	text-align :left;
}
#Asia li{
	text-align :left;
}
#Oceania li{
	text-align :left;
}
#NorthAmeric li{
	text-align :left;
}
#SouthAmeric li{
	text-align :left;
}
